# Added by Sanjay
desktop.ini
.vscode/
.ipynb_checkpoints/
__pycache__/
*.exe

scripts/.vscode/
scripts/.ipynb_checkpoints/
scripts/__pycache__/
scripts/*.exe

test/.vscode/
test/.ipynb_checkpoints/
test/__pycache__/
test/*.exe